.App
{
    margin: 0 auto;
    width: 300px;
}
ul
{
    padding: 0;
    list-style: none;
}
li
{
    height: 30px;
    line-height: 30px;
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
}
li .taskText
{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.active
{
    background: tomato;
}
.finished
{
    background: lime;
}
button
{
    position: absolute;
    height: 30px;
    width: 30px;
}
.addTaskSection input
{
    height: 26px;
    width: calc(100% - 69px);
    padding: 0 0 0 5px;
}
.addTaskSection .addButton
{
    height: 30px;
    width: 60px;
}
.editTaskSection input
{
    height: 26px;
    width: calc(100% - 69px);
    padding: 0 0 0 5px;
}
.editTaskSection .saveButton
{
    right: 30px;
}
.viewTaskSection
{
}
.viewTaskSection .editButton
{
    right: 30px;
}
.editTaskSection .deleteButton,
.viewTaskSection .deleteButton
{
    right: 0;
}